/* W3schools css
CSS Introduction, Syntax, Selectors, Grouping Selectors, Universal Selector, Selectors Code Challenge,
 How To Add CSS, How To Add Internal CSS, Multiple Style Sheets & Cascading Order, How To Code Challenge,
Comments, Errors, Colors, RGB and RGBA Colors, HEX and HEXA Colors, HSL and HSLA Colors, Colors Code Challenge,
Backgrounds, Background Image, Background Image Repeat, Background Attachment, Background Shorthand
Backgrounds Code Challenge, Borders (tu jestem teraz!) 

*/


/*
body {
    background-color: lightblue;
}
*/


body {
    /* background-image: url('cieplewygazowanepiwo.jpg');
   /* background-repeat: repeat-x;*/
    /* background-repeat: no-repeat;
    background-size: cover;    */
    /*background-position:right top;*/
    /*background-attachment: fixed;*/
    /* background-attachment: scroll; */ 
    background: #d9dd00 url("cieplewygazowanepiwo.jpg") no-repeat center ;
}

* {
    text-shadow: 0.1em 0.1em 0.2em rgb(204, 248, 5);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* h1 {
    text-align: right;
    color: #b58;
} */

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

p.dotted {border-style: dotted;}

#para1 {
    text-decoration: underline;
}

.center {
    text-align: center;
    color: red;
}

#plaża {
    text-align: left;
    color:hsl(182, 37%, 38%)
}

div {
  background: rgba(0, 128, 0, 0.3)
}