/* W3schools css
CSS Introduction, Syntax, Selectors, Grouping Selectors, Universal Selector, Selectors Code Challenge,
 How To Add CSS, How To Add Internal CSS, Multiple Style Sheets & Cascading Order, How To Code Challenge,
Comments, Errors, Colors, RGB and RGBA Colors (tu jestem teraz!) 

*/

body {
    background-image: url('cieplewygazowanepiwo.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
}

* {
    text-shadow: 0.1em 0.1em 0.2em rgb(204, 248, 5);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* h1 {
    text-align: right;
} */

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#para1 {
    text-decoration: underline;
}

.center {
    text-align: center;
    color: red;
}

#plaża {
    text-align: left;
    color:hsl(182, 37%, 38%)
}
