/* W3schools css
CSS Introduction, Syntax, Selectors, Grouping Selectors, Universal Selector, Selectors Code Challenge,
 How To Add CSS, How To Add Internal CSS, Multiple Style Sheets & Cascading Order, How To Code Challenge,
Comments, Errors, Colors, RGB and RGBA Colors, HEX and HEXA Colors, HSL and HSLA Colors, Colors Code Challenge,
Backgrounds, Background Image, Background Image Repeat, Background Attachment, Background Shorthand
Backgrounds Code Challenge, Borders, Border Width, Border Color, Border Sides, Shorthand Border Property,
Rounded Borders, Borders Code Challenge, Margins, Margin Collapse, Margins Code Challenge, Padding,
Padding and box-sizing, Padding Code Challenge, Height and Width, Min/Max Height and Width,
Height and Width Code Challenge, Box Model, Box Model Code Challenge, Outline,
Outline Width, Outline Color, Outline Shorthand, Outline Offset, Text Color, Text Alignment, Text Decoration,
Text Decoration Styles, Text/Text Transformation, Text/Text Spacing, Text\Text Shadow, Text/Text Code Challenge,
Fonts/Fonts, Fonts/Web Safe Fonts, Fonts/Font Fallbacks, Fonts/Font Style, Fonts/Font Size,
Fonts/Google Fonts, Fonts/Great Font Pairings, (tu jestem teraz!) 

*/


/*
body {
    background-color: lightblue;
}
*/


body {
    /* background-image: url('cieplewygazowanepiwo.jpg');
   /* background-repeat: repeat-x;*/
    /* background-repeat: no-repeat;
    background-size: cover;    */
    /*background-position:right top;*/
    /*background-attachment: fixed;*/
    /* background-attachment: scroll; */ 
    background: #d9dd00 url("cieplewygazowanepiwo.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

* {
    text-shadow: 0.1em 0.1em 0.2em rgb(204, 248, 5);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    border-radius: 10px;
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 8px; */
    margin: 20px 15px 20px 8px;
}

/* h1 {
    text-align: right;
    color: #b58;
} */

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

p.dotted {border-style: dotted; border-width: 10px 25px 5px 30px; border-color: red green blue gray;}
p.dashed {border-style: dashed;}
p.solid {border-bottom: 6px solid red; padding: 0px 5px 10px 5px;}
p.double {border-style: double; border-width: medium; border-color: rgba(0, 128, 0, 0.3);}
p.groove {border-style: groove; border-color: hsl(0, 66%, 20%);}
pre.ridge {border: 5px ridge white; padding-top: 5px; padding-bottom: 5px;}
a.inset {border-style: inset;}
a.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

#para1 {
    text-decoration: underline;
}

.center {
    text-align: center;
    color: red;
}

#plaża {
    text-align: left;
    color:hsl(182, 37%, 38%)
}

div {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 25px;
  box-sizing: border-box;
  background: rgba(0, 128, 0, 0.3)
}

img.ex1 {
    margin-left: inherit;
}

.div1 {
    max-width: 500px;
    padding: 10px;
    background-color: powderblue;
}

.div2 {
    width: 500px;
    padding: 10px;
    background-color: powderblue;
}

.div3 {
    width: 100%;
    height: 100%px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    outline: 3px solid rgb(0, 255, 55);
    outline-offset: 5px;
}

.tlogrzyb {
    background-color: rgba(255, 255, 255, 0.527);
}

img {
    vertical-align: bottom;
}

pre {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-indent: 10px;
    letter-spacing: -2px;
    line-height: 0.8;
    word-spacing: 10px;
    white-space: none;
}

h1 {
    /* text-decoration-line: overline;
    text-decoration-color: #d9dd00; */
    text-decoration: overline #d9dd00 solid 10px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 25px blue, 0 0 5px rgb(22, 2, 2);;
}

h2 {
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: black;
    text-transform: lowercase;
}

h3 {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: 15%;
    text-transform: capitalize;
}
h5 {
    text-decoration-line: overline underline;
    text-decoration-color: aqua;
}

a {
  text-decoration: none;
}

.ulnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.linav {
    float: left;
}

.linav a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.linav a:hover {
    background-color: #111111;
}

#ppp {
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps;
    /* font-size: small; */
    /* font-size: 16px; */
    /* font-size: 1.5em; */
    /* font-size: 1rem; */
    font-size: 5vw;
}
